@model IEnumerable<HospitalManagementSystem.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Doctors Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@(item.Doctors?.Count ?? 0)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID })
            </td>
        </tr>
    }
    </tbody>
</table>