@model IEnumerable<HospitalManagementSystem.Models.Doctor>
@{
    ViewData["Title"] = "Doctors";
}

<h2>Doctors</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Doctor</a>
</p>

<table class="table table-striped table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Full Name</th>
            <th>Specialization</th>
            <th>Department</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.FullName</td>
                <td>@doctor.Specialization</td>
                <td>@doctor.Department?.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@doctor.DoctorId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Edit" asp-route-id="@doctor.DoctorId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@doctor.DoctorId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
